@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.p-staff {
   &__inner {
      display: flex;
      justify-content: space-between;
      @include pc {
         margin-right: calc(50% - 50vw);
         gap: 6rem;
      }
      @media (max-width: 1000px) {
         margin-right: 0;
      }
      @include sp {
         flex-direction: column;
      }
   }
   &__btn {
      @include pc {
         margin-left: 0;
      }
      @include sp {
         order: 1;
         margin-top: 2.4rem;
      }
   }
   &__slide {
      width: 100%;
      @include pc {
         max-width: 600px;
      }
      &:hover {
         & img {
            transform: scale(1.05);
         }
      }
   }
   &__slide a {
      &:hover {
         color: var(--color-pri);
      }
   }
   &__content {
      width: 100%;
      @include sp {
         display: contents;
      }
      &+* {
         @include sp {
            margin-top: 3.2rem;
         }
      }
   }
   &__img {
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      &+* {
         margin-top: 1.2rem;
      }
   }
   &__img img {
      transition: var(--animation-second);
   }
   &__group {
      display: flex;
      align-items: center;
      gap: 1.6rem;
   }
   &__name {
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 1.5;
   }
   &__job {
      line-height: 1.5;
      font-weight: 500;
   }
   &__swiper {
      width: 100%;
      @include pc {
         min-width: calc(100% - 24rem - 4rem);
      }
      @media (max-width: 1000px) {
         min-width: calc(100% - 24rem - 4rem);
      }
   }
   &__swiper-wrapper {
      &+* {
         margin-top: 3.2rem;
         @include sp {
            margin-top: 1.6rem;
         }
      }
   }
   &__prev, 
   &__next {
      position: static;
      width: auto;
      height: auto;
      display: block;
      margin-top: auto;
      &:after {
         display: none;
      }
   }
   &__arrows {
      display: flex;
      gap: 1.6rem;
      @include sp {
         gap: 1.2rem;
      }
   }
   &__pagination {
      position: static;
      display: flex;
      width: auto;
      align-items: center;
      gap: 1rem;
   }
   &__pagination span {
      font-weight: bold;
   }
   &__control {
      display: flex;
      gap: 4rem;
      @include sp {
         gap: 3.2rem;
      }
   }
   &__current-icon {
      width: 4rem;
      height: 1px;
      background-color: var(--color-text);
   }
}