.js-scroll-swipe {
   opacity: 0;
   &.is-on {
      animation: slide-in 1s;
      opacity: 1;
   }
}

@keyframes slide-in {
   0% {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
   }
   50% {
      opacity: 1;
   }
   100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
   }
}