:root {
   // color
   --color-wht: #fff;
   --color-text: #333;
   --color-pri: #1e44f1;

   // animation
   --animation-second: .2s;

   // breakpoint
   --breakpoint-pc: 768px;
   --breakpoint-sp: 767px;
}

$pc: 768px;
$sp: 767px;