.c-btn {
   max-width: 240px;
   & a {
      font-weight: bold;
      color: var(--color-wht);
      background-color: var(--color-pri);
      border-radius: 3.2rem;
      padding: 1.4rem 3.2rem;
      border: 1px solid var(--color-pri);
      transition: var(--animation-second);
      display: block;
      justify-content: space-between;
      &:hover {
         background-color: var(--color-wht);
         color: var(--color-pri);
      }
   }
}

.c-arrow {
   width: 1.6rem;
   overflow: hidden;
   &__before,
   &__after {
      content: "";
      width: 1.6rem;
      aspect-ratio: 1 / 1;
      transition: var(--animation-second);
      background-image: url(/assets/img/ico_arr02_right.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
   }
}