.c-btn {
   width: 24rem;
   margin-inline: auto;
   font-weight: bold;
   color: var(--color-wht);
   background-color: var(--color-pri);
   border-radius: 3.2rem;
   padding: 1.6rem 3.2rem;
   border: 1px solid var(--color-pri);
   transition: var(--animation-second);
   display: block;
   justify-content: space-between;
   position: relative;
   &:hover {
      background-color: var(--color-wht);
      color: var(--color-pri);
      & .c-icon {
         background-color: var(--color-pri);
      }
      & .c-icon__arrow.-before {
         left: 0;
      }
      & .c-icon__arrow.-after {
         left: 100%;
      }
   }
}