@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.c-icon {
   width: 4.8rem;
   min-width: 4.8rem;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--color-pri);
   transition: var(--animation-second);
   @include sp {
      width: 4rem;
      bottom: 1.6rem;
   }
   &:hover {
      background-color: var(--color-pri);
      & .c-icon {
         background-color: var(--color-pri);
      }
      & .c-icon__arrow.-before {
         left: 0;
      }
      & .c-icon__arrow.-after {
         left: 100%;
      }
   }
   &.-prev {
      &:hover {
         & .c-icon__arrow.-before {
            left: 100%;
         }
         & .c-icon__arrow.-after {
            left: 0;
         }
      }
      & .c-icon__arrow.-before {
         left: 0;
      }
      & .c-icon__arrow.-after {
         left: 100%;
      }
   }
   &.-wht {
      border: 1px solid var(--color-wht);
      &:hover {
         background-color: var(--color-wht);
         & .c-icon__arrow {
            stroke: var(--color-pri);
         }
      }
   }
   &.-btn {
      background-color: var(--color-wht);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2.8rem;
      width: 3.2rem;
      min-width: 3.2rem;
      &:hover {
         background-color: var(--color-pri);
         color: var(--color-wht);
         & .c-icon__arrow {
            stroke: var(--color-wht);
         }
      }
   }
   &__arrows {
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: 24px;
      aspect-ratio: 1 / 1;
   }
   &__arrow {
      position: absolute;
      width: 100%;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--animation-second);
      &.-before {
         left: -100%;
         z-index: 1;
      }
      & svg {
         transition: var(--animation-second);
      }
   }
}