/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: normal;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

:root {
  --color-wht: #fff;
  --color-text: #333;
  --color-pri: #1e44f1;
  --color-pri-light: #5671eb;
  --animation-second: .2s;
  --breakpoint-pc: 768px;
  --breakpoint-sp: 767px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  line-height: 1.75;
  color: var(--color-text);
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
@media (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding-top: 78px;
  padding-bottom: 16rem;
}
@media (max-width: 767px) {
  main {
    padding-bottom: 12rem;
    padding-top: 78px;
  }
}

.js-scroll-swipe {
  opacity: 0;
}
.js-scroll-swipe.is-on {
  animation: slide-in 1s;
  opacity: 1;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.l-header.is-scroll-down .l-header__inner {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
.l-header__inner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 100%;
  padding: 1.6rem;
  min-width: 12rem;
  gap: 4rem;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.02);
  transition: var(--animation-second);
}
@media (max-width: 1000px) {
  .l-header__inner {
    gap: 2.4rem;
  }
}
@media (max-width: 767px) {
  .l-header__inner {
    padding: 1.4rem;
  }
}
.l-header__logo {
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  width: 150px;
  aspect-ratio: 200/60;
  color: #fff;
  display: grid;
  place-items: center;
}
@media (max-width: 1000px) {
  .l-header__logo {
    width: 150px;
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .l-header__logo {
    width: 120px;
    font-size: 1.6rem;
  }
}
.l-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
@media (max-width: 1000px) {
  .l-header__menu {
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .l-header__menu {
    display: none;
    background-color: #fff;
    overflow-y: scroll;
  }
}
@media (max-width: 767px) {
  .l-header__menu.is-active {
    display: block;
    position: absolute;
    inset: 0 auto auto 0;
    top: 78px;
    width: 100%;
    height: calc(100vh - 78px);
    padding: 1.6rem;
    padding-bottom: 7rem;
    z-index: 1000;
  }
}
.l-header__link-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .l-header__link-list {
    gap: 1.6rem;
  }
}
@media (max-width: 767px) {
  .l-header__link-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
@media (max-width: 767px) {
  .l-header__link-list + * {
    margin-top: 3.2rem;
  }
}
@media (max-width: 767px) {
  .l-header__link-list li {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
  }
}
.l-header__link-list li a {
  font-weight: bold;
  transition: var(--animation-second);
}
@media (max-width: 1000px) {
  .l-header__link-list li a {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
  .l-header__link-list li a {
    font-size: 1.6rem;
  }
}
.l-header__link-list li a:hover {
  color: var(--color-pri);
}
.l-header__link {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .l-header__link {
    border-bottom: 1px solid #ddd;
    padding-block: 1.6rem;
  }
}
@media (min-width: 768px) {
  .l-header__link:hover + .l-header__drop {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .l-header__link::before {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: calc(100% + 1.6rem + 1rem);
  }
}
.l-header__plus {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1.6rem;
  aspect-ratio: 1/1;
}
@media (max-width: 767px) {
  .l-header__plus {
    display: block;
  }
  .l-header__plus::before, .l-header__plus::after {
    content: "";
    position: absolute;
    transition: var(--animation-second);
  }
  .l-header__plus::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 1.6rem;
    background-color: var(--color-pri);
  }
  .l-header__plus::after {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1.6rem;
    height: 2px;
    background-color: var(--color-pri);
  }
}
.l-header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .l-header__btn {
    height: 100%;
  }
}
.l-header__btn a {
  font-weight: bold;
  color: var(--color-wht);
  background-color: var(--color-pri);
  border-radius: 3.2rem;
  padding: 0.8rem 3.2rem;
  border: 1px solid var(--color-pri);
  transition: var(--animation-second);
}
@media (max-width: 1000px) {
  .l-header__btn a {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }
}
@media (max-width: 767px) {
  .l-header__btn a {
    font-size: 1.6rem;
    padding: 1.2rem 3.2rem;
    min-width: 80vw;
    text-align: center;
  }
}
.l-header__btn a:hover {
  background-color: var(--color-wht);
  color: var(--color-pri);
}
.l-header__trigger {
  width: 50px;
  aspect-ratio: 1/1;
}
@media (min-width: 768px) {
  .l-header__trigger {
    display: none;
  }
}
.l-header__trigger-btn {
  position: relative;
  background-color: var(--color-pri);
  height: 100%;
}
@media (max-width: 767px) {
  .l-header__trigger-btn {
    border-radius: 50%;
  }
}
.l-header__trigger-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background-color: var(--color-wht);
  transition: var(--animation-second);
}
.l-header__trigger-btn span::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-wht);
  transition: var(--animation-second);
}
.l-header__trigger-btn span::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-wht);
  transition: var(--animation-second);
}
.l-header__trigger-btn.is-active span {
  background-color: transparent;
}
.l-header__trigger-btn.is-active span::before {
  transform: rotate(45deg);
  top: 0;
}
.l-header__trigger-btn.is-active span::after {
  transform: rotate(-45deg);
  bottom: 0;
}
.l-header__drop {
  position: absolute;
  inset: 100% auto auto 0;
  background-color: var(--color-wht);
  width: 100%;
  transition: var(--animation-second);
}
@media (min-width: 768px) {
  .l-header__drop {
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid #ddd;
  }
}
@media (max-width: 767px) {
  .l-header__drop {
    display: none;
  }
}
@media (min-width: 768px) {
  .l-header__drop:hover {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .l-header__drop {
    position: static;
  }
  .l-header__drop .l-header__drop-inner {
    padding: 0;
  }
  .l-header__drop .l-header__head {
    display: none;
  }
  .l-header__drop .l-header__drop-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .l-header__drop .l-header__drop-link {
    padding: 1.4rem 0 1.4rem 2.4rem;
    -moz-text-align-last: left;
         text-align-last: left;
    font-size: 1.4rem;
  }
  .l-header__drop .l-header__drop-icon.c-arrow__icon {
    inset: 0;
    top: 48%;
  }
}
@media (max-width: 767px) {
  .l-header__drop.is-active {
    display: block;
  }
}
.l-header__drop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 2.4rem;
}
.l-header__drop-inner {
  max-width: 120rem;
  padding: 4rem 1.6rem;
  margin-inline: auto;
  display: flex;
  gap: 4rem;
}
.l-header__head.c-head01 {
  min-width: 28rem;
}
.l-header__head.c-head01 + * {
  margin-top: 0;
}
.l-header__head-main.c-head01__main {
  font-size: 2.4rem;
  color: var(--color-pri);
  font-weight: 500;
}
.l-header__head-sub.c-head01__sub {
  font-size: 2.4rem;
}
.l-header__drop-link {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 1.6rem;
  position: relative;
}
.l-header__drop-link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 3.2rem;
  height: 1px;
  background-color: var(--color-pri);
  transition: var(--animation-second);
}
.l-header__drop-link:hover::before {
  width: 100%;
}
.l-header__drop-icon.c-arrow__icon {
  top: 1.4rem;
}
.l-header__drop-icon.c-arrow__icon svg {
  width: 1.8rem;
  height: 1.8rem;
}
@media (max-width: 767px) {
  .l-header__arrow {
    display: none;
  }
}
.l-header__arrow svg {
  display: block;
}
.l-header__overlay {
  position: fixed;
  top: 78px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -99;
  opacity: 0;
  visibility: hidden;
  transition: var(--animation-second);
}
@media (min-width: 768px) {
  .l-header__overlay.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.l-section + * {
  margin-top: 12rem;
}
@media (max-width: 767px) {
  .l-section + * {
    margin-top: 8rem;
  }
}

.l-footer__contact {
  padding-inline: 1.6rem;
}
.l-footer__contact-link {
  margin-bottom: -18.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-pri);
  max-width: 120rem;
  padding-inline: 1.6rem;
  margin-inline: auto;
  color: var(--color-wht);
  width: 100%;
  height: 100%;
  padding: 7.8rem 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .l-footer__contact-link {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  .l-footer__contact-link {
    padding: 2.4rem 1.6rem;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
    margin-bottom: -10rem;
  }
}
.l-footer__contact-link:hover .c-btn {
  border: 1px solid var(--color-wht);
  background-color: var(--color-pri);
  color: var(--color-wht);
}
.l-footer__contact-link:hover .c-btn .c-icon.-btn {
  background-color: var(--color-pri);
  border: 1px solid var(--color-wht);
}
.l-footer__contact-link:hover .c-btn .c-icon__arrow.-before {
  left: 0;
}
.l-footer__contact-link:hover .c-btn .c-icon__arrow.-after {
  left: 100%;
}
.l-footer__contact-link:hover img {
  transform: scale(1.05);
}
.l-footer__contact-link:hover .l-footer__contact-bgi {
  opacity: 0.25;
}
.l-footer__contact-bgi {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  transition: var(--animation-second);
}
.l-footer__contact-bgi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
  transition: var(--animation-second);
}
@media (max-width: 767px) {
  .l-footer__contact-head.c-head01 + * {
    margin-top: 1.6rem;
  }
}
@media (max-width: 1000px) {
  .l-footer__contact-main.c-head01__main {
    font-size: 3.2rem;
  }
}
@media (max-width: 767px) {
  .l-footer__contact-main.c-head01__main {
    font-size: 2.4rem;
  }
}
.l-footer__contact-sub.c-head01__sub {
  color: var(--color-wht);
}
@media (max-width: 767px) {
  .l-footer__contact-sub.c-head01__sub {
    font-size: 1.6rem;
  }
}
.l-footer__contact-btn.c-btn {
  background-color: var(--color-wht);
  color: var(--color-pri);
  height: 62px;
  display: block;
  min-width: 24rem;
  margin-right: 0;
}
@media (max-width: 767px) {
  .l-footer__contact-btn.c-btn {
    margin-inline: auto;
  }
}
.l-footer__inner {
  background-color: #f1f1f1;
  padding-top: 24.8rem;
  padding-bottom: 6.4rem;
}
@media (max-width: 767px) {
  .l-footer__inner {
    padding-top: 16rem;
  }
}
.l-footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .l-footer__wrapper {
    flex-direction: column;
    gap: 3.2rem;
  }
}
@media (max-width: 767px) {
  .l-footer__wrapper + * {
    margin-top: 3.2rem;
  }
}
.l-footer__logo {
  width: 100%;
  max-width: 150px;
}
.l-footer__logo + * {
  margin-top: 3.2rem;
}
@media (max-width: 767px) {
  .l-footer__logo + * {
    margin-top: 2.4rem;
  }
}
.l-footer__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 200/60;
}
.l-footer__address, .l-footer__number {
  font-weight: 500;
  font-size: 1.4rem;
  display: block;
}
.l-footer__number {
  text-decoration: underline;
}
.l-footer__number:hover {
  text-decoration: none;
}
.l-footer__number + * {
  margin-top: 1.2rem;
}
.l-footer__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem 8rem;
}
@media (max-width: 767px) {
  .l-footer__menu {
    gap: 2.4rem 1.6rem;
  }
}
.l-footer__menu a {
  display: block;
}
.l-footer__menu a:hover {
  color: var(--color-pri);
}
.l-footer__menu > li > a {
  font-weight: bold;
}
.l-footer__menu > li > a + * {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .l-footer__menu > li > a + * {
    margin-top: 1.6rem;
  }
}
.l-footer__menu > li > ul {
  padding-left: 1.6rem;
}
@media (max-width: 767px) {
  .l-footer__menu > li > ul {
    padding-left: 1.4rem;
  }
}
.l-footer__menu > li > ul > li + * {
  margin-top: 0.8rem;
}
.l-footer__menu > li > ul > li > a {
  font-size: 1.4rem;
}
@media (max-width: 767px) {
  .l-footer__menu > li > ul > li > a {
    font-size: 1.2rem;
  }
}
.l-footer__sub-menu {
  display: flex;
  gap: 2.4rem;
}
.l-footer__sub-menu li a {
  font-size: 1.2rem;
}
.l-footer__sub-menu li a:hover {
  color: var(--color-pri);
}
.l-footer__copy {
  background-color: #f1f1f1;
  padding: 3rem 1.6rem;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 1.2rem;
}

.l-inner {
  max-width: 120rem;
  padding-inline: 1.6rem;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .l-inner {
    min-width: 100%;
    padding-inline: 2rem;
  }
}
.l-inner.-lg {
  max-width: 100%;
}

.c-head01__main, .c-head01__sub {
  font-size: 4.8rem;
  line-height: 1;
  font-weight: bold;
  display: block;
}
@media (max-width: 767px) {
  .c-head01__main, .c-head01__sub {
    font-size: 3.2rem;
  }
}
.c-head01__main + * {
  margin-top: 1.6rem;
}
.c-head01__sub {
  font-size: 2rem;
  color: var(--color-pri);
  display: inline-block;
  font-weight: 500;
}
@media (max-width: 767px) {
  .c-head01__sub {
    font-size: 1.8rem;
  }
}
.c-head01 + * {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .c-head01 + * {
    margin-top: 3.2rem;
  }
}

.c-btn {
  width: 24rem;
  margin-inline: auto;
  font-weight: bold;
  color: var(--color-wht);
  background-color: var(--color-pri);
  border-radius: 3.2rem;
  padding: 1.6rem 3.2rem;
  border: 1px solid var(--color-pri);
  transition: var(--animation-second);
  display: block;
  justify-content: space-between;
  position: relative;
}
.c-btn:hover {
  background-color: var(--color-wht);
  color: var(--color-pri);
}
.c-btn:hover .c-icon {
  background-color: var(--color-pri);
}
.c-btn:hover .c-icon__arrow.-before {
  left: 0;
}
.c-btn:hover .c-icon__arrow.-after {
  left: 100%;
}

.c-icon {
  width: 4.8rem;
  min-width: 4.8rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-pri);
  transition: var(--animation-second);
}
@media (max-width: 767px) {
  .c-icon {
    width: 4rem;
    bottom: 1.6rem;
  }
}
.c-icon:hover {
  background-color: var(--color-pri);
}
.c-icon:hover .c-icon {
  background-color: var(--color-pri);
}
.c-icon:hover .c-icon__arrow.-before {
  left: 0;
}
.c-icon:hover .c-icon__arrow.-after {
  left: 100%;
}
.c-icon.-prev:hover .c-icon__arrow.-before {
  left: 100%;
}
.c-icon.-prev:hover .c-icon__arrow.-after {
  left: 0;
}
.c-icon.-prev .c-icon__arrow.-before {
  left: 0;
}
.c-icon.-prev .c-icon__arrow.-after {
  left: 100%;
}
.c-icon.-wht {
  border: 1px solid var(--color-wht);
}
.c-icon.-wht:hover {
  background-color: var(--color-wht);
}
.c-icon.-wht:hover .c-icon__arrow {
  stroke: var(--color-pri);
}
.c-icon.-btn {
  background-color: var(--color-wht);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.8rem;
  width: 3.2rem;
  min-width: 3.2rem;
}
.c-icon.-btn:hover {
  background-color: var(--color-pri);
  color: var(--color-wht);
}
.c-icon.-btn:hover .c-icon__arrow {
  stroke: var(--color-wht);
}
.c-icon__arrows {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 24px;
  aspect-ratio: 1/1;
}
.c-icon__arrow {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--animation-second);
}
.c-icon__arrow.-before {
  left: -100%;
  z-index: 1;
}
.c-icon__arrow svg {
  transition: var(--animation-second);
}

.c-bullet {
  padding-left: 1.6rem;
  position: relative;
}
.c-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--color-pri);
}

.c-arrow {
  position: relative;
  padding-left: 2.8rem;
}
.c-arrow__icon {
  position: absolute;
  inset: 50% auto auto 0;
  transform: translateY(-50%);
}
.c-arrow__icon svg {
  width: 2.4rem;
  height: 2.4rem;
}

.p-visual {
  height: calc(100vh - 78px);
  width: 100%;
  position: relative;
}
.p-visual__swiper {
  width: 100%;
  height: 100%;
  padding-left: 8rem;
  padding-bottom: 2.4rem;
}
@media (max-width: 767px) {
  .p-visual__swiper {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
}
.p-visual__img {
  width: 100%;
  height: 100%;
}
.p-visual__title-wrapper {
  position: absolute;
  left: 1.6rem;
  bottom: 1rem;
  z-index: 1;
}
.p-visual__title {
  font-size: 5.6rem;
  font-size: min(5.6vw, 6rem);
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-wht);
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 0.4rem;
  padding: 1.2rem;
}
@media (max-width: 767px) {
  .p-visual__title {
    font-size: 3.2rem;
  }
}
.p-visual__title span {
  color: var(--color-pri);
}
.p-visual__slide {
  overflow: hidden;
}
.p-visual__img {
  transform: scale(1);
  transition: transform 8.5s linear;
}
.p-visual__slide.swiper-slide-active .p-visual__img {
  transform: scale(1.2);
}
.p-visual__pagination.swiper-pagination {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  inset: auto;
  left: 0;
  top: calc(50% - 99px);
  transform: translateY(-50%);
  width: 8rem;
}
@media (max-width: 767px) {
  .p-visual__pagination.swiper-pagination {
    display: none;
  }
}
.p-visual__pagination .swiper-pagination-bullet {
  display: block;
  width: 2px;
  height: 6rem;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-left: calc(4rem - 1px) !important;
}
.p-visual__pagination .swiper-pagination-bullet .p-visual__bar {
  display: block;
  width: 100%;
  height: 0%;
  background-color: var(--color-pri);
  position: absolute;
  top: 0;
  left: 0;
  transition: 7.5s;
  transform: scaleY(0);
  transform-origin: top;
}
.p-visual__pagination .swiper-pagination-bullet .p-visual__bar.is-animating {
  animation: bar-scale 7.5s linear 0s infinite alternate forwards;
}
.p-visual__pagination .swiper-pagination-bullet-active .p-visual__bar {
  height: 100%;
}

@keyframes slide-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes bar-scale {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.p-about-us__inner {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
@media (min-width: 768px) {
  .p-about-us__inner {
    margin-right: calc(50% - 50vw);
  }
}
@media (max-width: 1000px) {
  .p-about-us__inner {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .p-about-us__inner {
    flex-direction: column;
    align-items: center;
  }
}
.p-about-us__inner + * {
  margin-top: 12rem;
}
@media (max-width: 767px) {
  .p-about-us__inner + * {
    margin-top: 8rem;
  }
}
.p-about-us__content {
  background-color: var(--color-wht);
  z-index: 1;
  width: 100%;
}
@media (min-width: 768px) {
  .p-about-us__content {
    max-width: 560px;
  }
}
@media (max-width: 767px) {
  .p-about-us__content {
    min-width: 100%;
  }
}
.p-about-us__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 3.2rem;
}
.p-about-us__list + * {
  margin-top: 4rem;
}
.p-about-us__list li a {
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  display: block;
  line-height: 1.5;
  padding: 3.2rem 0;
  min-width: 32rem;
  gap: 1.6rem;
  position: relative;
}
@media (min-width: 768px) {
  .p-about-us__list li a {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .p-about-us__list li a {
    min-width: 100%;
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem 0;
  }
}
.p-about-us__list li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--color-pri);
  width: 3.2rem;
  height: 1px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: var(--animation-second);
}
.p-about-us__list li a:hover::before {
  width: 100%;
  transform: scaleX(1);
}
.p-about-us__list li a:hover .p-about-us__circle {
  background-color: var(--color-pri);
}
.p-about-us__list li a:hover .p-about-us__arrow.-before {
  left: 0;
}
.p-about-us__list li a:hover .p-about-us__arrow.-after {
  left: 100%;
}
.p-about-us__thumb {
  display: none;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 80px;
}
@media (max-width: 767px) {
  .p-about-us__thumb {
    display: block;
    aspect-ratio: 3/5;
    height: 100%;
  }
}
.p-about-us__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-about-us__title {
  line-height: 1.5;
  font-size: 2.4rem;
  color: var(--color-text);
}
@media (max-width: 767px) {
  .p-about-us__title {
    font-size: 1.8rem;
  }
}
.p-about-us__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6.4rem;
}
@media (max-width: 767px) {
  .p-about-us__title-wrapper {
    padding-right: 0;
    padding-bottom: 5.6rem;
  }
}
.p-about-us__title-wrapper span {
  font-size: 1.6rem;
  color: var(--color-pri);
}
@media (max-width: 767px) {
  .p-about-us__title-wrapper span {
    font-size: 1.4rem;
    display: block;
  }
}
.p-about-us__title-wrapper span + * {
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .p-about-us__title-wrapper span + * {
    margin-top: 0.8rem;
  }
}
@media (max-width: 767px) {
  .p-about-us__desc {
    font-size: 1.2rem;
  }
}
.p-about-us__circle {
  position: absolute;
  right: 0;
}
@media (min-width: 768px) {
  .p-about-us__circle {
    transform: translateY(-50%);
    top: 50%;
  }
}
.p-about-us__img-list li {
  opacity: 0;
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  transition: var(--animation-second);
}
.p-about-us__img-list li.is-active {
  opacity: 1;
  z-index: 1;
}
.p-about-us__img-list {
  width: 100%;
  position: relative;
}
.p-about-us__scroll {
  margin-inline: calc(50% - 50vw);
  overflow: hidden;
}
.p-about-us__scroll-text {
  animation: scroll-left 25s linear infinite both;
  width: 998rem;
  display: flex;
  gap: 4rem;
}
@media (max-width: 767px) {
  .p-about-us__scroll-text {
    width: 748rem;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-50% - 2rem));
  }
}
.p-service__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .p-service__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-service__inner + * {
  margin-top: 8rem;
}
@media (max-width: 767px) {
  .p-service__inner + * {
    margin-top: 4rem;
  }
}
.p-service__item {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.4rem;
}
@media (max-width: 767px) {
  .p-service__item {
    aspect-ratio: 2/1;
  }
}
.p-service__item:hover .p-service__img img {
  transform: scale(1.05);
}
.p-service__item:hover .p-service__filter {
  opacity: 0;
}
.p-service__item:hover .c-icon.-wht {
  background-color: var(--color-wht);
}
.p-service__item:hover .c-icon.-wht .c-icon__arrow {
  stroke: var(--color-pri);
}
.p-service__item:hover .c-icon__arrow.-before {
  left: 0;
}
.p-service__item:hover .c-icon__arrow.-after {
  left: 100%;
}
.p-service__item.-main {
  grid-row: span 2;
  aspect-ratio: 1/1;
}
.p-service__item.-main .p-service__title p {
  font-size: 2.8rem;
}
@media (max-width: 767px) {
  .p-service__item.-main .p-service__title p {
    font-size: 1.8rem;
  }
}
.p-service__item a {
  display: block;
  width: 100%;
  height: 100%;
}
.p-service__bgi {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  inset: 0 auto auto 0;
  z-index: -2;
}
.p-service__bgi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--animation-second);
}
.p-service__filter {
  position: absolute;
  inset: 0 auto auto 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  transition: var(--animation-second);
  z-index: -1;
}
.p-service__title {
  position: absolute;
  left: 3.2rem;
  color: var(--color-wht);
  line-height: 1.5;
  font-weight: bold;
  font-size: 2.4rem;
  top: 3.2rem;
}
@media (max-width: 1000px) {
  .p-service__title {
    font-size: 2rem;
    left: 2.4rem;
    top: 2.4rem;
  }
}
@media (max-width: 767px) {
  .p-service__title {
    font-size: 1.6rem;
    left: 2.4rem;
    top: 2.4rem;
  }
}
.p-service__title p + * {
  margin-top: 0.4rem;
}
.p-service__title span {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .p-service__title span {
    font-size: 1rem;
  }
}
.p-service__icon {
  position: absolute;
  right: 3.2rem;
  bottom: 3.2rem;
}
@media (max-width: 767px) {
  .p-service__icon {
    right: 2.4rem;
    bottom: 2.4rem;
  }
}
.p-service__tab-wrapper ~ * {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .p-service__tab-wrapper ~ * {
    margin-top: 2.4rem;
  }
}
.p-service__tab-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.4rem;
  background-color: #ddd;
  padding: 0.8rem;
  margin-inline: auto;
  position: relative;
}
@media (max-width: 767px) {
  .p-service__tab-list {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }
}
.p-service__tab-list::before {
  content: "";
  position: absolute;
  inset: 50% auto auto 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #ddd;
  z-index: -1;
}
.p-service__tab-list li {
  text-align: center;
  padding: 1.6rem 3.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  line-height: 1.5;
  transition: var(--animation-second);
}
.p-service__tab-list li.is-active, .p-service__tab-list li:hover {
  background-color: var(--color-pri);
  color: var(--color-wht);
}
.p-service__tab-item {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem 1.6rem;
}
@media (max-width: 767px) {
  .p-service__tab-item {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-service__tab-item.is-active {
  display: grid;
}
.p-service__card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.p-service__img {
  width: 100%;
  overflow: hidden;
  border-radius: 0.4rem;
}
.p-service__img + * {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .p-service__img + * {
    margin-top: 1.8rem;
  }
}
.p-service__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.p-service__link {
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.8rem;
  flex-grow: 1;
}
.p-service__link::before {
  top: 1.2rem;
}
.p-service__link + * {
  margin-top: 1.6rem;
}

.p-staff__inner {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .p-staff__inner {
    margin-right: calc(50% - 50vw);
    gap: 6rem;
  }
}
@media (max-width: 767px) {
  .p-staff__inner {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .p-staff__btn {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .p-staff__btn {
    order: 1;
    margin-top: 2.4rem;
  }
}
.p-staff__slide {
  width: 100%;
}
@media (min-width: 768px) {
  .p-staff__slide {
    max-width: 600px;
  }
}
.p-staff__slide:hover img {
  transform: scale(1.05);
}
.p-staff__slide a:hover {
  color: var(--color-pri);
}
.p-staff__content {
  width: 100%;
}
@media (max-width: 767px) {
  .p-staff__content {
    display: contents;
  }
}
@media (max-width: 767px) {
  .p-staff__content + * {
    margin-top: 3.2rem;
  }
}
.p-staff__img {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.p-staff__img + * {
  margin-top: 1.2rem;
}
.p-staff__img img {
  transition: var(--animation-second);
}
.p-staff__group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.p-staff__name {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.5;
}
.p-staff__job {
  line-height: 1.5;
  font-weight: 500;
}
.p-staff__swiper {
  width: 100%;
}
@media (min-width: 768px) {
  .p-staff__swiper {
    min-width: calc(100% - 24rem - 6rem);
  }
}
@media (max-width: 1000px) {
  .p-staff__swiper {
    min-width: calc(100% - 24rem - 6rem);
  }
}
.p-staff__swiper-wrapper + * {
  margin-top: 3.2rem;
}
@media (max-width: 767px) {
  .p-staff__swiper-wrapper + * {
    margin-top: 1.6rem;
  }
}
.p-staff__prev, .p-staff__next {
  position: static;
  width: auto;
  height: auto;
  display: block;
  margin-top: auto;
}
.p-staff__prev:after, .p-staff__next:after {
  display: none;
}
.p-staff__arrows {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .p-staff__arrows {
    gap: 1.2rem;
  }
}
.p-staff__pagination {
  position: static;
  display: flex;
  width: auto;
  align-items: center;
  gap: 1rem;
}
.p-staff__pagination span {
  font-weight: bold;
}
.p-staff__control {
  display: flex;
  gap: 4rem;
}
@media (max-width: 767px) {
  .p-staff__control {
    gap: 3.2rem;
  }
}
.p-staff__current-icon {
  width: 4rem;
  height: 1px;
  background-color: var(--color-text);
}

.p-data__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  background-color: var(--color-pri-light);
  border-radius: 0.4rem;
  padding: 1.6rem;
}
@media (max-width: 767px) {
  .p-data__inner {
    grid-template-columns: 1fr;
  }
}
.p-data__item {
  background-color: var(--color-wht);
  border-radius: 0.4rem;
  padding: 4rem 1.6rem;
}
@media (max-width: 767px) {
  .p-data__item {
    padding: 1.6rem;
  }
}
.p-data__title {
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: center;
}
@media (max-width: 767px) {
  .p-data__title {
    font-size: 1.6rem;
  }
}
.p-data__title + * {
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .p-data__title + * {
    margin-top: 0.8rem;
  }
}
.p-data__value {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: baseline;
}
.p-data__number {
  font-weight: bold;
  color: var(--color-pri);
  font-size: 6rem;
  line-height: 1;
}
@media (max-width: 767px) {
  .p-data__number {
    font-size: 4rem;
  }
}

.p-news__desc + * {
  margin-top: 3.2rem;
}
@media (max-width: 767px) {
  .p-news__desc + * {
    margin-top: 2.4rem;
  }
}
.p-news__inner {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .p-news__inner {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  .p-news__inner {
    gap: 0;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .p-news__content {
    display: contents;
  }
}
@media (max-width: 767px) {
  .p-news__content + * {
    margin-top: 2.4rem;
  }
}
@media (min-width: 768px) {
  .p-news__list {
    min-width: calc(100% - 32rem - 4rem);
  }
}
.p-news__link {
  display: flex;
  align-items: center;
  padding-block: 3.2rem;
  padding-right: 6.4rem;
  border-bottom: 1px solid #ddd;
  position: relative;
  gap: 1.6rem;
}
@media (max-width: 1000px) {
  .p-news__link {
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
  }
}
@media (max-width: 767px) {
  .p-news__link {
    padding: 1.6rem 5.6rem 1.6rem 0;
    display: block;
  }
}
.p-news__link::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--color-pri);
  width: 3.2rem;
  height: 1px;
}
.p-news__link:hover {
  color: var(--color-pri);
}
.p-news__link:hover::before {
  width: 100%;
  transition: var(--animation-second);
}
.p-news__link:hover .p-news__category {
  border-color: var(--color-pri);
}
.p-news__link:hover .c-icon {
  background-color: var(--color-pri);
}
.p-news__link:hover .c-icon__arrow.-before {
  left: 0;
}
.p-news__link:hover .c-icon__arrow.-after {
  left: 100%;
}
@media (max-width: 767px) {
  .p-news__date {
    line-height: 27px;
  }
}
.p-news__detail {
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 767px) {
  .p-news__detail + * {
    margin-top: 0.8rem;
  }
}
.p-news__category {
  border: 1px solid var(--color-text);
  border-radius: 1.6rem;
  padding: 0.2rem 1.6rem;
  font-size: 1.4rem;
  min-width: 12rem;
  text-align: center;
}
@media (max-width: 1000px) {
  .p-news__category {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .p-news__category {
    display: inline;
  }
}
@media (min-width: 768px) {
  .p-news__category + * {
    margin-left: 2.4rem;
  }
}
@media (max-width: 767px) {
  .p-news__category + * {
    margin-top: 0.8rem;
  }
}
.p-news__title {
  font-weight: 500;
}
@media (max-width: 1000px) {
  .p-news__title {
    font-size: 1.4rem;
  }
}
.p-news__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@media (min-width: 768px) {
  .u-hidden-pc {
    display: none;
  }
}